.DS_Store
__pycache__/
*.py[cod]
# .vscode
.idea
db.sqlite3
media/uploads

# Various 
dev_tools/
package-lock.json
daphne_start.sh

# local env and settings files
.env
.env.local
.env.*.local
matcha/local_settings.py